/* screen - desktop-7 */

#my {
    zoom: 90%;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.desktop-7 {
    align-items: flex-end;
    background-color: var(--white);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 1080px;
    justify-content: flex-start;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    /*padding: 21.5px 40.5px;*/
    position: fixed;
    width: 1920px;
    top: 120px;
}

.desktop-7 .bar-C61RwL {
    background-color: transparent;
    flex-shrink: 1;
    height: 101px;
    mix-blend-mode: normal;
    position: relative;
    width: 1828px;
}

.desktop-7 .box-4eduM0 {
    background-color: transparent;
    height: 886px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1827px;
}

.desktop-7 .button-4eduM0 {
    align-items: flex-end;
    background-color: var(--yellow-orange);
    border-radius: 14px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 43px;
    justify-content: flex-end;
    left: 290px;
    min-width: 128px;
    mix-blend-mode: normal;
    padding: 10.7px 7px;
    position: absolute;
    top: 286px;
    width: auto;
}

.desktop-7 .button-BJQsbv {
    align-items: flex-end;
    background-color: var(--yellow-orange);
    border-radius: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 44px;
    justify-content: flex-end;
    right: 290px;
    min-width: 128px;
    mix-blend-mode: normal;
    padding: 11px 7px;
    position: absolute;
    top: 500px;
    width: auto;
}

.desktop-7 .button-i148062101-GoPoHX {
    background-color: transparent;
    flex-shrink: 1;
    height: 21px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 21px;
    min-width: 113px;
    mix-blend-mode: normal;
    position: relative;
    text-align: center;
    width: 113px;
}

.desktop-7 .button-i148362101-DVhep3 {
    background-color: transparent;
    flex-shrink: 1;
    height: 21px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 21px;
    min-width: 113px;
    mix-blend-mode: normal;
    position: relative;
    text-align: center;
    width: 113px;
}

.desktop-7 .component-11-4eduM0 {
    background-color: transparent;
    height: 21px;
    left: 1560px;
    mix-blend-mode: normal;
    position: absolute;
    top: 230px;
    width: 26px;
}

.desktop-7 .component-12-4eduM0 {
    background-color: transparent;
    height: 21px;
    left: 1560px;
    mix-blend-mode: normal;
    position: absolute;
    top: 308px;
    width: 26px;
}

.desktop-7 .component-13-4eduM0 {
    background-color: transparent;
    height: 21px;
    left: 1560px;
    mix-blend-mode: normal;
    position: absolute;
    top: 385px;
    width: 26px;
}

.desktop-7 .frame-23-P7T2cK {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    margin-left: 222px;
    min-height: 249px;
    position: relative;
    width: 517px;
}

.desktop-7 .frame-24-4eduM0 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 249px;
    justify-content: flex-start;
    left: 285px;
    min-width: 1256px;
    position: absolute;
    top: 175px;
    width: auto;
}

.desktop-7 .frame-5-JuX2NU {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 4px 4px #00000040;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 57px;
    justify-content: flex-end;
    margin-top: 4px;
    min-width: 517px;
    mix-blend-mode: normal;
    padding: 0 12px;
    position: relative;
    width: auto;
}

.desktop-7 .frame-5-Kc7dwT {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 4px 4px #00000040;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 57px;
    justify-content: flex-end;
    margin-top: 23px;
    min-width: 517px;
    mix-blend-mode: normal;
    padding: 0 12px;
    position: relative;
    width: auto;
}

.desktop-7 .frame-5-NAxzwJ {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 4px 4px #00000040;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 57px;
    /*justify-content: flex-end;*/
    margin-top: 4px;
    min-width: 517px;
    mix-blend-mode: normal;
    padding: 0 12px;
    position: relative;
    width: auto;
}

.desktop-7 .frame-5-NWpetK {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 4px 4px #00000040;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 57px;
    justify-content: flex-end;
    margin-top: 23px;
    min-width: 517px;
    mix-blend-mode: normal;
    padding: 0 12px;
    position: relative;
    width: auto;
}

.desktop-7 .frame-5-vcKMEq {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 4px 4px #00000040;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 57px;
    justify-content: center;
    margin-top: 4px;
    min-width: 517px;
    mix-blend-mode: normal;
    position: relative;
    width: auto;
}

.desktop-7 .hello-i1560831612-xAgeWN {
    background-color: transparent;
    flex-shrink: 1;
    height: 31px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 31px;
    min-width: 491px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: 491px;
    border: hidden;
}

.desktop-7 .hello-i934166831612-H3Hh4v {
    background-color: transparent;
    flex-shrink: 1;
    height: 57px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 31px;
    min-width: 517px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: auto;
}

.desktop-7 .hello-i934172831612-ufxz5m {
    background-color: transparent;
    flex-shrink: 1;
    height: 31px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 31px;
    min-width: 491px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: 491px;
}

.desktop-7 .knabtrans-details2022112940-yLCsqY {
    background-color: transparent;
    flex-shrink: 1;
    height: 31px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 31px;
    min-width: 491px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: 491px;
}

.desktop-7 .label-text-style-i1560644-NAxzwJ {
    background-color: transparent;
    flex-shrink: 1;
    height: 28px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 28px;
    min-width: 519px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: 519px;
}

.desktop-7 .label-text-style-i934166644-vcKMEq {
    background-color: transparent;
    flex-shrink: 1;
    height: 28px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 28px;
    min-width: 519px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: 519px;
}

.desktop-7 .label-text-style-i934172644-JuX2NU {
    background-color: transparent;
    flex-shrink: 1;
    height: 28px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 28px;
    min-width: 519px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: 519px;
}

.desktop-7 .line-1-CxQeVq {
    background-color: transparent;
    height: 20px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 690px;
}

.desktop-7 .line-2-CxQeVq {
    background-color: transparent;
    height: 465px;
    left: -5px;
    position: absolute;
    top: 0px;
    width: 10px;
}

.desktop-7 .line-3-CxQeVq {
    background-color: transparent;
    height: 493px;
    left: 1822px;
    position: absolute;
    top: 400px;
    width: 10px;
}

.desktop-7 .line-4-CxQeVq {
    background-color: transparent;
    height: 20px;
    left: 1152px;
    position: absolute;
    top: 876px;
    width: 681px;
}

.desktop-7 .line-7-8uBQKT {
    background-color: transparent;
    height: 26px;
    left: 2px;
    position: absolute;
    top: -3px;
    width: 26px;
}

.desktop-7 .line-7-anPZFN {
    background-color: transparent;
    height: 26px;
    left: 2px;
    position: absolute;
    top: -3px;
    width: 26px;
}

.desktop-7 .line-7-oPFQG7 {
    background-color: transparent;
    height: 26px;
    left: 2px;
    position: absolute;
    top: -3px;
    width: 26px;
}

.desktop-7 .line-8-8uBQKT {
    background-color: transparent;
    height: 26px;
    left: -2px;
    position: absolute;
    top: -3px;
    width: 25px;
}

.desktop-7 .line-8-anPZFN {
    background-color: transparent;
    height: 26px;
    left: -2px;
    position: absolute;
    top: -3px;
    width: 25px;
}

.desktop-7 .line-8-oPFQG7 {
    background-color: transparent;
    height: 26px;
    left: -2px;
    position: absolute;
    top: -3px;
    width: 25px;
}

.desktop-7 .overlap-group-C61RwL {
    align-self: center;
    background-color: transparent;
    flex-shrink: 1;
    height: 886px;
    margin-left: 1.0px;
    margin-top: 37px;
    position: relative;
    width: 1827px;
}

.desktop-7 .rabotran3940-Vb5CER {
    background-color: transparent;
    flex-shrink: 1;
    height: 31px;
    letter-spacing: 0.00px;
    line-height: normal;
    min-height: 31px;
    min-width: 491px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: 491px;
}

.desktop-7 .rectangle-2-CxQeVq {
    background-color: var(--seashell);
    box-shadow: 0px 4px 4px #00000040;
    height: 37vw;
    mix-blend-mode: normal;
    position: relative;
    top: 56px;
    width: 80vw;
    margin: auto;
}

.desktop-7 .textbox-4eduM0 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    left: 285px;
    min-height: 89px;
    position: absolute;
    top: 461px;
    width: 517px;
}

.desktop-7 .textbox-Kc7dwT {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    min-height: 89px;
    position: relative;
    width: 517px;
}

.desktop-7 .textbox-P7T2cK {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: auto;
    justify-content: flex-start;
    min-height: 89px;
    position: relative;
    width: 517px;
}

.desktop-7 .title-4eduM0 {
    background-color: transparent;
    height: 40px;
    left: 822px;
    letter-spacing: -0.68px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 93px;
    width: auto;
}

.clickable {
    cursor: pointer;
}

.no-outline:focus {
    outline: none;
}

.dropdown-menu {
    font-family: Roboto, sans-serif;
    margin-left: -13px;
    margin-top: 14px;
}
